#book {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--colour-white);
  background-color: var(--colour-navy);
  text-align: center;
  padding-bottom: 0;
}

#book p:last-of-type {
  padding: 0;
}

#book a {
  margin: var(--padding-md);
}
