#book {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--colour-white);
    background-color: var(--colour-gold);
}

#book h2 {
    width: 35%;
}

#book div {
    width: 65%;
    padding: 0 var(--padding-percent-md);
    border-left: var(--border-white);
    box-sizing: border-box;
}

#book a {
    display: block;
    width: fit-content;
    margin: var(--padding-sm) auto;
}

#book a:hover {
    opacity: 1;
    background-color: var(--colour-navy-light);
}
