#events {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--colour-white);
    background-color: var(--colour-navy);
}

#events h2 {
    width: 35%;
}

#events table {
    width: 65%;
    padding: 0 var(--padding-percent-md);
    box-sizing: border-box;
    vertical-align: middle;
    border-left: var(--border-white);
}

/* See https://stackoverflow.com/questions/3215553/make-a-div-fill-an-entire-table-cell 
   required for below indicator
*/
#events table tr {
    height: 1px;
    border: 0;
}

#events table tr td {
    height: inherit;
    border: 0;
}

#events table td.month {
    text-align: right;
    font-size: var(--font-size-xl);
    padding-bottom: 8px;
}

#events table td .indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#events table td .indicator .line {
    flex-grow: 1;
    width: 2px;
    background-color: var(--colour-white);
}

/* Hide white line above/below circle when first/last row respectively */
#events table tr:first-child .line:first-child,
#events table tr:last-child .line:last-child {
    background-color: transparent;
}

/* Set min height on line only rows */
#events table td .indicator .line:only-child {
    min-height: 50px;
}

#events table td .indicator .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--colour-white);
}

#events table td .event {
    width: fit-content;
    margin: var(--padding-md);
    padding: var(--padding-md) var(--padding-md) var(--padding-md)
        calc(var(--padding-xl) + var(--padding-sm));
    background-color: var(--colour-gold);
    clip-path: polygon(
        100% 0,
        var(--padding-xl) 0,
        0 50%,
        var(--padding-xl) 100%,
        100% 100%
    );
}

#events table td .event h3 {
    color: var(--colour-navy);
}

#events table td .event p {
    color: var(--colour-white);
    font-size: var(--font-size-lg);
}
