#events {
  color: var(--colour-white);
  background-color: var(--colour-gold);
  text-align: center;
}

.events-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding-md);
  padding-top: var(--padding-md);
}

.events-container article {
  flex-grow: 1;
  padding: var(--padding-md);
  background-color: var(--colour-navy);
}

.events-container article h3 {
  color: var(--colour-gold);
  text-transform: uppercase;
}

.events-container article .event-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--padding-sm);
  color: var(--colour-white);
  font-size: var(--font-size-md);
}

.events-container article .event-details svg {
  margin-right: 4px;
  fill: var(--colour-white);
}

.events-container article .event-links {
  display: flex;
  justify-content: space-evenly;
}

.events-container article .event-links a:hover {
  color: var(--colour-white);
  background-color: var(--colour-navy-light);
}
