@font-face {
  font-family: "Gill Sans Nova Light";
  src: url("/fonts/gill-sans-nova-light.woff2") format("woff2");
}

@font-face {
  font-family: "Brandon Grotesque Bold";
  src: url("/fonts/brandon-grotesque-bold.woff2") format("woff2");
}
