footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(var(--nav-height) + 10px);
    background-color: var(--colour-navy);
}

footer a {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

footer a svg {
    fill: var(--colour-white);
    transition: fill var(--transition-duration-medium) ease;
}

footer a svg:hover {
    fill: var(--colour-gold);
}
