html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Gill Sans Nova Light";
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
}