html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Gill Sans Nova Light";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: normal;
  margin: var(--padding-md) 0;
}

h1 {
  font-size: var(--font-size-xxxl);
  line-height: var(--font-size-xxxl);
}

h2 {
  font-size: var(--font-size-xxl);
  line-height: var(--font-size-xxl);
}

h3 {
  margin: var(--padding-sm);
  font-size: var(--font-size-xl);
  line-height: var(--font-size-xl);
}
