body {
  margin: 0;
  font-family: "Gill Sans Nova Light";
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: var(--font-size-xxxl);
  line-height: var(--font-size-xxxl);
}

h2 {
  font-size: var(--font-size-xxl);
  line-height: var(--font-size-xxl);
}

h3 {
  font-size: var(--font-size-xl);
  line-height: var(--font-size-xl);
}

section {
  padding: var(--padding-md);
}

p {
  margin: auto;
  max-width: 60%;
  padding-top: var(--padding-md);
}
