nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--nav-height);
  background-color: var(--colour-navy);
  border-bottom: var(--border-gold);
  box-sizing: border-box;
}

nav a {
  margin: 0 50px;
  text-decoration: none;
  transition: color var(--transition-duration-medium) ease;
  font-size: var(--font-size-md);
  color: var(--colour-white);
  letter-spacing: 1px;
}

nav a:hover {
  color: var(--colour-gold);
}
