.home {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--colour-white);
}

.home .heading-container {
    margin: auto auto 10px auto;
}

.home .wings {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .wings span {
    color: var(--colour-gold);
    font-size: var(--font-size-xxxl);
    font-weight: bold;
    line-height: var(--font-size-xxxl);
}

.home .wings img {
    width: 250px;
}

.home .heading-container h1 {
    margin: 0;
    color: var(--colour-gold);
    font-size: var(--font-size-xxxl);
    line-height: var(--font-size-xxxl);
}

.home .heading-container h1 span {
    margin-left: 10px;
    color: var(--colour-navy);
    font-weight: normal;
}

.home .description {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.home .description span {
    width: 100%;
    height: 2px;
    background-color: var(--colour-white);
}

.home .description h2 {
    margin: 0;
    white-space: nowrap;
    font-size: var(--font-size-lg);
    line-height: var(--font-size-lg);
}

.home a {
    margin: 0 auto 90px auto;
    padding: 15px 20px;
    color: var(--colour-navy);
    background-color: var(--colour-white);
    font-weight: bold;
    text-decoration: none;
    font-size: var(--font-size-xxl);
    text-underline-offset: 6px;
    text-decoration-thickness: 3px;
    transition: all var(--transition-duration-medium) ease;
}

.home a:hover {
    color: var(--colour-white);
    background-color: var(--colour-navy);
}