extends ../components/layout
include ../components/carousel

block content
  div.home
    div.heading-container
      div.wings 
        img(src="/images/logo-left-wing.png")
        span e
        img(src="/images/logo-right-wing.png")
      h1 CHARIOT
        span RACING
      div.description
        span
        h2 STAG, HEN & TEAM PARTIES - CORPORATE EVENTS
        span 
    a(class="white" href="/contact") BOOK NOW
    