extends ../components/index
include ../components/nav
include ../components/footer
include ../components/icon
include ../sections/about
include ../sections/book
include ../sections/events
include ../sections/home
include ../sections/gallery

block layout
    +nav
    +home(homeImage)
    +about
    +gallery(images.slice(0, 4))
    +events(events)
    +gallery(images.slice(5, 9))
    +book(contactEmail)
    +footer



