doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/css/components/footer.css")
    link(rel="stylesheet" type="text/css" href="/css/components/index.css")
    link(rel="stylesheet" type="text/css" href="/css/components/link.css")
    link(rel="stylesheet" type="text/css" href="/css/components/nav.css")
    link(rel="stylesheet" type="text/css" href="/css/sections/about.css")
    link(rel="stylesheet" type="text/css" href="/css/sections/book.css")
    link(rel="stylesheet" type="text/css" href="/css/sections/events.css")
    link(rel="stylesheet" type="text/css" href="/css/sections/home.css")
    link(rel="stylesheet" type="text/css" href="/css/sections/gallery.css")
    link(rel="stylesheet" type="text/css" href="/css/variables.css")
    link(rel="stylesheet" type="text/css" href="/css/fonts.css")
    script(src="/js/components/nav.js")
    title eChariot Racing
  body
    block layout