mixin nav
  nav
    a(href="/" class=`${activeRoute === "/" && "active"}`) HOME
    a(href="#events" class=`${activeRoute === "/events" && "active"}`) EVENTS
    a(href="#gallery" class=`${activeRoute === "/gallery" && "active"}`) GALLERY
    a(href="#contact" class=`${activeRoute === "/contact" && "active"}`) CONTACT