mixin nav
  nav
    a(href="#home", role="navlink") HOME
    a(href="#about", role="navlink") ABOUT
    a(href="#gallery", role="navlink") GALLERY
    a(href="#events", role="navlink") EVENTS
    a(href="#book", role="navlink") BOOK