mixin nav
  nav
    a(href="/", role="navlink") HOME
    a(href="#about-container", role="navlink") ABOUT
    a(href="#gallery-container", role="navlink") GALLERY
    a(href="#events-container", role="navlink") EVENTS
    a(href="#book-container", role="navlink") BOOK