mixin events(events)
    section(id="events")
        h2 EVENTS
        table(border="0", cellspacing="0", cellpadding="0")
            tbody
                tr
                    td.month August
                    td
                        div.indicator 
                            div.line
                            div.circle 
                            div.line
                    td 
                        div.event 
                            h3 Cow Pie 
                            p 1st - 3rd August
                tr
                    td
                    td
                        div.indicator 
                            div.line
                    td
                tr
                    td
                    td
                        div.indicator 
                            div.line
                    td
                        div.event 
                            h3 Glastonbury
                            p 5th - 9th August
                tr
                    td
                    td
                        div.indicator 
                            div.line
                    td
                tr 
                    td.month September
                    td
                        div.indicator 
                            div.line
                            div.circle 
                            div.line
                    td
                tr
                    td
                    td
                        div.indicator 
                            div.line
                    td
                        div.event 
                            h3 Surrey Country Fair
                            p 1st - 3rd September
                tr
                    td
                    td
                        div.indicator 
                            div.line
                    td
                        div.event 
                            h3 Glastonbury
                            p 15th - 18th September
                tr
                    td
                    td
                        div.indicator 
                            div.line
                    td
                tr 
                    td.month October
                    td
                        div.indicator 
                            div.line
                            div.circle 
                            div.line
                    td
                        div.event 
                            h3 Cow Pie 
                            p 1st - 3rd August