mixin home(homeImage)
    section(id="home")
        img(src=homeImage, alt="background-image")
        div.jumbo
            h1 eCHARIOT
                span RACING
            div.description
                span
                h2 STAG, HEN & TEAM PARTIES - CORPORATE EVENTS
                span 
            a(
                class="link", 
                href="#book", 
                role="navlink"
            ) BOOK NOW